*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.menu{
    width:10%;
    height:100%;
    background-color: brown;
    position:fixed;
    z-index:1;
    padding-left:1rem;
}
li{
    list-style: none;
}
main{
    height:100%;
    width:100%;
    margin-left:10%;
}
.upgrade{
    height:10%;
    width:100%;
    background-color:yellow;
    padding-right:1rem;
    padding-top:0.70rem;
}
.foot-menu{
    position:relative;
    top:49%;
}
.upgrade div{

    position:relative;
    left:89%;
    width:12%;
    text-align:center;
    font-size:0.70rem;
    padding: 0.80rem;
    border: 1px solid white;
    background-color: rgba(2, 1, 42, 0.645);
    border-radius:25px;
}
.contents{
    background-color: aquamarine;
    height:90%;
    width:100%;
}

.container{
    display:flex;
    flex-direction: row;
    height:90vh;
    width:100%;
}

footer{
    width: 100%;
    height:10vh;
    background-color: blueviolet;
    position:fixed;
    z-index:2;

}


.gray{
    color:gray;
    font-size:0.90rem;
}
.white{
    color:white;
}
.container-footer{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}