*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}


main{
    height:90vh;
    width:100%;
}
h2{
    margin-top:1rem;
    font-size:1.2rem;
}
.testo-albums h3{
    font-size:0.83rem;
    margin-bottom:0.30rem;
}
ul{
    margin-bottom:0.90rem;
}
li{
    list-style: none;
    margin-top:0.77rem;
}

.container{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
}

/*MENU*/

.menu{
    width:15%;
    height:90vh;
    background-color:#000000;
    padding-left:1rem;
}
#spotify{
    font-size:1.2rem;
    position:relative;
    bottom:0.70rem;
}

.menu .fa-spotify{
    font-size:2rem;
}
.menu .logo{
    padding-top:1rem;
    padding-bottom:0.75rem;
}
.menu h2{
    font-size:0.82rem;
}
.menu img{
    padding-top:1.5rem;
}

.menu i{
    font-size:1rem;
    margin-right:0.30rem;
}
.menu .fa-square-plus{
    font-size:2rem;
}
.menu .crea-playlist{
    position:relative;
    bottom:0.45rem;
    font-size: 0.70rem;

}
.foot-menu{
    position:relative;
    top:27%;
}
.foot-menu p{
    border-top:1px solid gray;
    font-size:0.72rem;
    padding-top:0.40rem;
    margin-top:0.40rem;
}

.foot-menu .white{
    font-size:0.80rem;

}
/* EFFETTUA L' UPGRADE*/

.upgrade{
    height:10%;
    width:100%;
    background-color:#080B12;
    padding-right:1rem;
    padding-top:0.70rem;
}

.upgrade div{
    position:relative;
    left:89%;
    width:12%;
    text-align:center;
    font-size:0.60rem;
    padding: 0.80rem;
    border: 1px solid white;
    background-color: rgba(2, 1, 42, 0.645);
    border-radius:25px;
}
/* NAV TASTI IN EVIDENZA, SOTTO "effettua l' upgrade"*/

.evidenza{
    height:10%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top:1rem;
    background-color: #141922;
}
.evidenza div{
    margin-right:1rem;
    font-size:0.70rem;
}

/*MAIN PART WITH ALBUMS*/

.contents{
    overflow: scroll;
    height:80vh;
    background-color: #141922;
    width:100%;
    padding-left:1.5rem;
}
.square{
    width:calc(100% / 6 - 1rem);
    height: 12rem;
    margin-right:1rem;
}
.border-radius img{
    border-radius: 50%;
}

.albums{
    margin-top:1.7rem;
    margin-bottom:7rem;
    display:flex;
    flex-direction:row;
}
.albums img{
    width:100%;
    height:100%;
    margin-bottom:0.80rem;
    object-fit: cover;
    display:block;
}
.testo-albums{
    text-align:center;
    font-size:0.60rem;
}

/*FOOTER*/
footer{
    width: 100%;
    height:10vh;
    background-color: #282828;
    position:fixed;
    z-index:1;
}

.container-footer{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:0.95rem;
}

.flex-row{
    display:flex;
    flex-direction:row;
}


.container-sinister{
    width:2.5rem;
    height:2.5rem;
    margin-right:0.50rem;
}
.container-sinister img{
    width:100%;
    object-fit: cover;
    display:block;
}



.icons{
    margin-left:2.5rem;
}
.icons i{
    padding-top:0.55rem;
    margin-right:0.80rem;
    font-size:0.80rem;
}


.music{
    font-size: 1.2rem;
    padding-left:12rem;
    padding-right:12rem;
}
.music i{
    padding-right:1rem;
    padding-left:1rem;
}


/* classi di colori generali per il colore del testo*/

.text-gray{
    color:gray;
    font-size:0.60rem;
}
.text-white{
    color:white;
    font-size:0.60rem;
}

.flex-column{
    display:flex;
    flex-direction:column;
}
.barra-volume{
    background-color: white;
    border-radius: 20px;
    align-self:center;
    height:0.20rem;
    width:7rem;
    margin-bottom:0.50rem;
}
.barra-volume .volume{

    background-color: green;
    width:3rem;
    height:100%;
    display:none;
}
.volume :active{

    background-color: green;
    width:3rem;
    height:100%;

    display:inline;
}
